@import "compass";

body {
  -webkit-font-smoothing: antialiased;
  //background-color: #F9F9F9;
  font-family: 'Candara'; //todo: webfont
}

h1, h2, h3 {
  font-family: 'Candara';
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

header, footer {
  height: 50px;
  width: 1170px;
  margin: 0 auto;
  background-color: #999999;
  text-align: center;

  p {
    display: inline-block;
    //margin: 10px 0 0 0;
  }

  a {
    color: white;
  }

  select, #select_politician_chosen {
    text-align: left;
    margin: 4px auto 0 auto;
  }
}

.beta {
  position: absolute;
  left: 70px;
  top: -40px;
}

.prev-page {
  position: absolute;
  left: 10px;
  top: 10px;
}

#main {
  position: relative;
  @include background-image(linear-gradient(white, #EEEEEE));
  width: 1170px;
  min-height: 850px;
  margin: 0 auto;
}

.loading-window {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  z-index: 5000;
}

.loading-pane {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 80px;
}

.loading-message {
  text-align: center;
}

.spinner {
  background: url(../images/ajax-loader.gif) center center no-repeat;
  height: 32px;
  width: 32px;
  margin: 0 auto 10px;
}



hr {
  border-top: 40px solid #ccc;
  margin: 0;
  width: 100%;
}

footer {
  display: block;
  height: 60px;

  p {
    line-height: 60px;
  }
}

button {
  margin-top: 8px;
}