@import "compass";

.index {
  .party {
  }

  .row {
    padding-top: 40px;
    padding-bottom: 40px;
    @include background-image(linear-gradient(white, #EEEEEE));
  }

  .circle {
    position: relative;
    float: left;

     .info {
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        top: 0;
        left: 0;
        width: 119px;
        height: 119px;
        padding: 10px 6px;
       cursor: pointer;

       span {
         display: block;
         text-align: center;
       }

        .name {
          font-size: 17px;
          padding: 0px;
          line-height: 18px;
          font-weight: bold;

          .long {
            font-size: 12px;
          }
        }

        .percent {
          font-size: 30px;
          line-height: 28px;
          margin-left: 12px;
          margin-bottom: 5px;
        }

        .no-data {
          margin-top: 8px;
        }
     }

    &:hover {
      .politician {
        //opacity: 0.2;
      }
      .info {
        display: inline-block;
      }
    }
  }

  .politician {

    &.disabled {
      opacity: 0.5;
    }
  }

  .no-image {
    font-size: 20px;
    font-weight: bold;
  }
}