.politician, .party {

  h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
  }

  .ember-view {
    position: relative;
  }

  .photo {
    position: absolute;
    left: 499px;
    top: 91px;
    width: 154px;
    z-index: 100;
  }

  .main-ribbon {
    position: relative;
    top: 80px;
    left: 110px;
    width: 911px;
    height: 226px;
    background: url('../images/main-ribbon.png') transparent no-repeat;
    z-index: 200;

    .name {
      position: absolute;
      top: -70px;
      left: 7px;
      width: 100%;
      display: block;
      text-align: center;
    }

    .party {
      height: 36px;
      margin-left: 10px;
    }

    .kamer {
      position: absolute;
      top: 40px;
      left: 590px;
      color: white;
      padding: 6px 10px;
      font-weight: bold;
      background-color: black;

      &.Eerste {
        background-color: #E9312A;
      }

      &.Tweede {
        background-color: #3471BA;
      }
    }

    #total-support {
      position: absolute;
      text-align: center;
      top: -12px;
      left: 351px;
      width: 200px;
      height: 200px;
      z-index: 300; //100
    }

    .most-support-party {
      position: absolute;
      display: inline-block;
      text-align: center;
      font-size: 20px;
      color: #ffffff;
      width: 300px;
      text-transform: uppercase;
      font-weight: 800;
      top: 8px;
      left: 28px;
    }

    .most-support-count {
      position: absolute;
      display: inline-block;
      font-size: 40px;
      color: #ffffff;
      font-weight: 800;
      top: 82px;
      left: 150px;
    }

    .most-support-legend {
      position: absolute;
      display: inline-block;
      font-size: 14px;
      color: #ffffff;
      width: 100px;
      text-transform: uppercase;
      font-weight: 800;
      top: 96px;
      left: 216px;
    }

    .least-support-party {
      position: absolute;
      display: inline-block;
      font-size: 20px;
      color: #ffffff;
      width: 300px;
      text-transform: uppercase;
      font-weight: 800;
      top: 160px;
      left: 595px;
    }
  }

  .submission-data {
    position: absolute;
    left: 434px;
    top: 270px;

    div {
      position: absolute;
      font-weight: 800;
      text-transform: uppercase;
    }

    .count {
      position: absolute;
      top: 0;
      right: -140px;
      font-size: 30px;
    }

    .legend {
      position: absolute;
      top: 15px;
      left: 160px;
      font-size: 13px;
      width: 100px;
    }

    .support-percent {
      top: 0;
      .count {
        font-size: 40px;
        top: 0;
        left: 0;
        width: 300px;
        text-align: center;
      }

      .legend {
        top: 50px;
        width: 300px;
        text-align: center;
        left: 0;
      }
    }

    .motions {
      top: 70px;
    }

    .amendments {
      top: 100px;
    }

    .bills {
      top: 130px;
    }

    .seniority {
      top: 160px;
    }
  }

  .party-support-title {
    position: absolute;
    top: 255px;
    left: 48px;
  }

  #party-support {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 300px;
    left: 0px;
  }

  .first-category-title {
    position: absolute;
    top: 333px;
    left: 846px;
  }

  #first-category-support {
    position: absolute;
    text-align: center;
    top: 378px;
    left: 790px;
    width: 200px;
    height: 200px;
    z-index: 300; //100
  }

  .second-category-title {
    position: absolute;
    top: 585px;
    left: 455px;
  }

  #second-category-support {
    position: absolute;
    text-align: center;
    top: 628px;
    left: 443px;
    width: 200px;
    height: 200px;
    z-index: 300; //100
  }

  .proceedings-title {
    position: absolute;
    top: 575px;
    left: 740px;
  }

  #proceedings {
    position: absolute;
    top: 630px;
    left: 700px;

    ul {
      list-style: none;

      li {
        display: block;
        margin-bottom: 1px;
        padding: 2px 6px;
        font-size: 12px;

        a {
          color: #ffffff;
        }
      }

      li.passed {
        background-color: #3471BA;
      }

      li.failed {
        background-color: #E9312A;
      }
    }
  }

}