<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block page-title %}{% endblock %}</title>

    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <link rel="author" href="humans.txt" />
    <meta name="DC.creator" content="Jurrian Tromp">
    <link rel="DC.creator" href="http://www.jurriantromp.nl/">
    {% block fragment %}<meta name="fragment" content="!">{% endblock %}
    <meta name="viewport" content="width=device-width">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ STATIC_URL }}images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ STATIC_URL }}images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ STATIC_URL }}images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.10.1.min.js"><\/script>')</script>

    {#  <script src="{{ STATIC_URL }}js/libs/modernizr-custom.js"></script>#}
    <script src="{{ STATIC_URL }}js/libs/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/highcharts.min.js"></script>

    {% block extra-head-slot %}{% endblock %}
</head>
<body class="{% block body-class %}{% endblock %}">
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

{% block content %}
<header id="header">
    {% block header %}{% endblock %}
</header>

<div id="main" class="container" role="main">
    {% block main %}
    {% endblock %}
</div>

<footer id="footer">
    {% block footer %}{#  <p><a>Over de data</a> - <a>Informatie over politiekinzicht.nl</a> - <a>Jurriantromp.nl</a></p>#}{% endblock %}
</footer>
{% endblock %}

{#  <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.10.3.custom.min.js"></script>#}

<script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery.localscroll-1.2.7-min.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery.animate-enhanced.min.js"></script>
<script type="text/javascript" src="//www.google.com/jsapi"></script>

<script src="{{ STATIC_URL }}js/libs/handlebars-v2.0.0.js"></script>
<script src="{{ STATIC_URL }}js/libs/ember.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/chosen.jquery.min.js"></script>

<script src="{{ STATIC_URL }}js/plugins.js"></script>
<script src="{{ STATIC_URL }}js/script.js"></script>
{% block js %}{% endblock %}
<script>
    var _gaq = [
        ['_setAccount', '{{ GOOGLE_ANALYTICS_TAG }}'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
</body>
</html>

