{% extends "base.html" %}

{% load url from future %}

{% block main %}
    <p><a href="{% url 'homepage' %}">Terug naar overzicht</a></p>

    <table border="1">

        <tr>
            <td>
                <img src="{{ politicians.0.image }}" alt="" width="200"/>
            </td>
            <td>
                <img src="{{ politicians.1.image }}" alt="" width="200"/>
            </td>
        </tr>
        <tr>
            <td>
                {{ politicians.0.first_name }} {{ politicians.1.last_name }}
            </td>
            <td>
                {{ politicians.1.first_name }} {{ politicians.1.last_name }}
            </td>
        </tr>
        <tr>
            <td>
                {{ politicians.0.party|default:"" }}
            </td>
            <td>
                {{ politicians.1.party|default:"" }}
            </td>
        </tr>
        <tr>
            <td>
                {{ politicians.0.submit_count.amendementen }}
            </td>
            <td>
                {{ politicians.1.submit_count.amendementen }}
            </td>
        </tr>
        <tr>
            <td>
                {{ politicians.0.submit_count.moties }}
            </td>
            <td>
                {{ politicians.1.submit_count.moties }}
            </td>
        </tr>
        <tr>
            <td>
                {{ politicians.0.submit_score.passed }}
            </td>
            <td>
                {{ politicians.1.submit_score.passed }}
            </td>
        </tr>
    <tr>
            <td>
                {{ politicians.0.submit_score.failed }}
            </td>
            <td>
                {{ politicians.1.submit_score.failed }}
            </td>
        </tr>
    <tr>
            <td>
                {{ politicians.0.submit_score.percent }}%
            </td>
            <td>
                {{ politicians.1.submit_score.percent }}%
            </td>
        </tr>
    </table>

    <h3>{{ politicians.0.first_name }}</h3>

    {% for party, support in politicians.0.submit_support.absolute.iteritems %}
        {{ party }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ support }}<br/>
    {% endfor %}

    <h3>{{ politicians.1.first_name }}</h3>

    {% for party, support in politicians.1.submit_support.absolute.iteritems %}
        {{ party }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ support }}<br/>
    {% endfor %}



  <script type="text/javascript">
  $(document).ready(function() {
      var categories =  [
                {% for party, support in politicians.0.submit_support.relative.iteritems %}
                    '{{ party }}',
                {% endfor %}
                ];

        $('#visualization').highcharts({

            chart: {
                type: 'bar'
            },

            title: {
                text: '{{ politicians.0.first_name }} VS {{ politicians.1.first_name }}'
            },

            xAxis: [{
                categories: categories,
                reversed: true

            }, { // mirror axis on right side
                opposite: true,
                reversed: true,
                categories: categories,
                linkedTo: 0,
                labels: {
                    enabled: false
                }
            }],

            yAxis: {
                allowDecimals: false,
                reversed: true,
                min: -100,
                max: 100,
                title: {
                    text: 'Steun van andere partijen'
                }
            },

            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y;
                }
            },

            plotOptions: {
                bar: {
                    stacking: 'normal'
                }
            },

            series: [
            {
                name: '{{ politicians.0.name }}', // A voor
                color: '#DB5656',
                data: [
                {% for party, support in politicians.0.submit_support.relative.iteritems %}
                    {{ support.1 }},
                {% endfor %}
                ],
                stack: '{{ politicians.0.name }}'
            }, {
                name: '{{ politicians.0.name }}', // A tegen
                color: '#B85E5E',
                data: [
                {% for party, support in politicians.0.submit_support.relative.iteritems %}
                    {{ support.0 }},
                {% endfor %}
                ],
                linkedTo: ':previous',
                stack: '{{ politicians.0.name }}'
            }, {
                name: '{{ politicians.1.name }}', // B voor
                color: '#4EBA4A',
                data: [
                {% for party, support in politicians.1.submit_support.relative.iteritems %}
                    {{ support.1 }},
                {% endfor %}
                ],
                stack: '{{ politicians.1.name }}'
            }, {
                name: '{{ politicians.1.name }}', // B tegen
                color: '#5B9459',
                data: [
                {% for party, support in politicians.1.submit_support.relative.iteritems %}
                    {{ support.0 }},
                {% endfor %}
                ],
                linkedTo: ':previous',
                stack: '{{ politicians.1.name }}'
            }]
        });
    });
  </script>

    <div id="visualization" style="height: 800px"></div>


{% endblock %}
