{% load url from future %}

<table border="1">
        <tr>
            <th>Naam</th>
            <th>Aantal moties/amendementen ingediend</th>
        </tr>
{% for politician in politicians %}
            <tr>
                <td>
                    <a href="/#/politician/{{ politician.pm_id }}">{{ politician.name }}</a>
                </td>
                <td>
                    {{ politician.submit_count.all }}
                </td>
            </tr>
        {% endfor %}
    </table>