{% extends "base.html" %}

{% load url from future %}

{% block body-class %}homepage{% endblock %}

{% block main %}
    <div id="svgid" style="background-color: #F6FAF9"></div>
    {#        <div class="compare-box">#}
    {#            Sleep hier in#}
    {#        </div>#}

    <div id="featured_politician">
        {% include 'politician.html' %}
    </div>
{% endblock %}
