{% load url from future %}

<h1>{{ party.abbreviation }}</h1>
<p>{{ party.name }}</p>

<a href="/party/#/{{ identifiers.0 }}/{{ identifiers.1 }}/{{ identifiers.2 }}" target="_blank">Bekijk de visualisatie van {{ party.abbreviation }}</a>

<p>Bron: <a href="{{ party.pm_source }}?view=html" rel="external">{{ party.pm_source }}</a></p>
<br />
<h2>Kamerleden</h2>
<p><strong>Eerste kamer:</strong> {{ party.seats_senate }}</p>
<p><strong>Tweede kamer:</strong> {{ party.seats_commons }}</p>

<table border="1">
        <tr>
            <th>Naam</th>
            <th>Aantal moties/amendementen ingediend</th>
        </tr>
{% for politician in politicians %}
            <tr>
                <td>
                    <a href="/politician/#/{{ politician.identifiers.0 }}/{{ politician.identifiers.1 }}/{{ politician.identifiers.2 }}" target="_blank">{{ politician.name }}</a>
                </td>
                <td>
                    {{ politician.submit_count.all }}
                </td>
            </tr>
        {% endfor %}
    </table>
