{% extends "base.html" %}

{% load url from future %}

{% block main %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Totaal aantal leden</th>
        </tr>

        {% for party in parties %}
            <tr>
                <td>
                    <a href="{% url 'resolver' party.pm_id %}">{{ party.pm_id }}</a>
                </td>
                <td>
                    {{ party.name }}
                </td>
                <td>
                    {{ party.politician_set.count }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}