{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}

{% block body-class %}{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
    <script type="text/x-handlebars">
    <header id="header">
        <select id="select-politician" data-placeholder="Selecteer een politicus..." {% verbatim %}{{action 'changePolitician' on='change'}}{% endverbatim %}>
        <option value=""></option>
        {% for party_pmid, party in party_politicians.items %}
            <option style="font-weight:800; margin-top: 10px;" label="{{ party.name }}">{{ party_pmid }}</option>
            {% for politician in party.politicians %}
                <option {% if not politician.total %}disabled="disabled"{% endif %} label="&nbsp;&nbsp;&nbsp;{{ politician.first_name }} {{ politician.last_name }} ({{ politician.percent|floatformat:1 }}%)">{{ politician.pm_id }}</option>
            {% endfor %}
        {% endfor %}
        </select>
        <br/>
        <a href="/">Alle kamerleden</a> - <a href="/eerstekamer/">Eerste kamer</a> - <a href="/tweedekamer/">Tweede kamer</a> - <a href="/regering/">Regering</a>
    </header>

    <div id="main" class="container" role="main">
        <img class="beta" src="{{ STATIC_URL }}images/beta.png" alt="Beta versie"/>
        {% verbatim %}
          {{outlet}}
        {% endverbatim %}
    </div>

    <footer id="footer">
    </footer>
    </script>

    <script type="text/x-handlebars" data-template-name="index">
    {% for party_id, party in party_politicians.items %}
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        {% verbatim %}{{#link-to 'party'{% endverbatim %}
        '{{ party_id }}'{% verbatim %}
        }}{% endverbatim %}
        {% if party.image %}
        {% thumbnail party.image "100x100" format="PNG"  as im %}
            <a class="party col-sm-2" href="nl/p/{{ party_id }}"><img src="{{ im.url }}" /></a>
        {% endthumbnail %}
        {% else %}
        <span class="no-image col-sm-2">{{ party.name }}</span>
        {% endif %}
        {% verbatim %}{{/link-to}}{% endverbatim %}
        <div class="col-sm-10">
        {% for politician in party.politicians %}
            <div class="circle">
            {% if politician.total %}
                {% thumbnail politician.rendered_circle "119x119" format="PNG"  as im %}
                    {% verbatim %}{{#link-to 'politician'
                    {% endverbatim %}'{{ politician.pm_id }}' class='politician'{% verbatim %}
                    }}{% endverbatim %}<img src="{{ im.url }}" title="{{ politician.first_name }} {{ politician.last_name }}" />
                {% endthumbnail %}
                <div class="info"><span class="name">{{ politician.first_name }}<br/>{% if politician.last_name|length > 13 %}<span class="long">{% endif %}{{ politician.last_name }}</span></span>
                    <span class="percent">{{ politician.percent|floatformat:0 }}%</span><span class="total">{{ politician.total }} voorstel{% if politician.total > 1 %}len{% endif %}</span>
                 </div>
                 {% verbatim %}{{/link-to}}{% endverbatim %}
            {% else %}
                {% thumbnail politician.rendered_circle "119x119" format="PNG" colorspace="GREY" as im %}
                    <img class="politician disabled" src="{{ im.url }}" title="{{ politician.first_name }} {{ politician.last_name }}: geen data beschikbaar" />
                {% endthumbnail %}
                <div class="info"><span class="name">{{ politician.first_name }}<br/>{% if politician.last_name|length > 13 %}<span class="long">{% endif %}{{ politician.last_name }}</span></span>
                    <span class="no-data">Geen voorstellen ingediend</span>
                </div>
            {% endif %}

            </div>
        {% endfor %}
        </div>
        </div>
        <div class="clearfix"></div>
        </div>
    {% endfor %}
    </script>

    <script type="text/x-handlebars" data-template-name="loading">
    <div class="loading-window">
      <div class="loading-pane">
        <div class="loading-message">
          <div class="spinner"></div>
          Bezig met laden..
        </div>
      </div>
    </div>
    </script>

    <script type="text/x-handlebars" data-template-name="not-found">
    {% verbatim %}
    <div class="loading-window">
      <div class="loading-pane">
        <div class="loading-message">
          <h1>Niet gevonden</h1>
          {{#link-to 'index'}}Terug naar het begin{{/link-to}}
        </div>
      </div>
    </div>
    {% endverbatim %}
    </script>

    <script type="text/x-handlebars" data-template-name="politician">
    {% verbatim %}
    <a class="prev-page" href="javascript:window.history.go(-1)">Terug</a>
    {{#if image }}
      <img class="photo" {{bind-attr src="image" alt="name"}}/>
      {{ else }}
        {{#if party_image }}
           <img class="photo" {{bind-attr src="party_image" alt="name"}}/>
        {{ else }}
            <img class="photo" src="/static/images/tweedekamer.png"/>
        {{/if}}
    {{/if}}
      <div class="main-ribbon">
        <h1 class="name">{{ name }} <img class="party" {{bind-attr src="party_image" alt=""}}/></h1>
        {{high-charts chartOptions=totalSupportOptions id="total-support"}}

        <span {{bind-attr class=house }}>{{ house }}</span>

        <span class="most-support-party">{{ support.firstObject.[0] }} is het het vaakst met {{ name }} eens</span>
        <span class="most-support-count">{{ support.firstObject.[2] }}</span>
        <span class="most-support-legend">Aantal keer meegestemd</span>

        <span class="least-support-party">De {{ support.lastObject.[0] }} stemde met {{ support.lastObject.[3] }} het meest tegen</span>
      </div>

      <div class="submission-data">
        <div class="support-percent"><span class="count">{{ statistics.[3] }}%</span> <span class="legend">Aangenomen</span></div>
        <div class="motions"><span class="count">{{ statistics.[4] }}</span> <span class="legend">Moties</span></div>
        <div class="amendments"><span class="count">{{ statistics.[5] }}</span> <span class="legend">Amendementen</span></div>
        <div class="bills"><span class="count">{{ statistics.[6] }}</span> <span class="legend">Wetsvoorstellen</span></div>
        {{# if seniority }}<div class="seniority"><span class="count">{{ seniority }}</span> <span class="legend">Dagen in de kamer</span></div>{{/if}}
      </div>

        <h2 class="party-support-title">Steun van partijen voor voorstellen</h2>
        {{high-charts chartOptions=partySupportOptions id="party-support"}}

        {{#if categories.[0] }}
        <h2 class="first-category-title">{{ categories.[0].subcategory }}</h2>
        {{high-charts chartOptions=firstCategoryOptions id="first-category-support"}}
        {{/if}}

        {{#if categories.[1] }}
        <h2 class="second-category-title">{{ categories.[1].subcategory }}</h2>
        {{high-charts chartOptions=secondCategoryOptions id="second-category-support"}}
        {{/if}}

        <h2 class="proceedings-title">Meest recente voorstellen</h2>
        <div id="proceedings">
        <ul>
        {{#each proceeding in recent }}
            <li {{bind-attr class=proceeding.[2]}}"><a {{bind-attr href=proceeding.[1]}}">{{ proceeding.[0] }}</a></li>
        {{/each}}
        </ul>
        </div>
    {% endverbatim %}
    </script>

{% endblock %}