{% extends "base.html" %}
{% load url from future %}



{% block main %}
    <p><a href="{% url 'homepage' %}">Terug naar overzicht</a></p>

    <p>Bron: <a href="{{ proceeding.pm_source }}?view=html" rel="external">{{ proceeding.pm_source }}</a></p>

    <table border="1">
        <tr>
            <th>Naam</th>
            <td>
                {{ proceeding.title }}
            </td>
        </tr>
        <tr>
            <th>Type proceeding</th>
            <td>
                {{ proceeding.proceeding_type }}
            </td>
        </tr>
        <tr>
            <th>Administratief jaar</th>
            <td>
                {{ proceeding.legislative_period }}
            </td>
        </tr>
        <tr>
            <th>Sessie nummer</th>
            <td>
                {{ proceeding.session_number }}
            </td>
        </tr>
        <tr>
            <th>File nummer</th>
            <td>
                {{ proceeding.dossier_number }}
            </td>
        </tr>
        <tr>
            <th>File subnummer</th>
            <td>
                {{ proceeding.dossier_subnumber }}
            </td>
        </tr>
        <tr>
            <th>Intern ID</th>
            <td>
                {{ proceeding.id }}
            </td>
        </tr>
        <tr>
            <th>Datum van stemming</th>
            <td>
                {{ proceeding.date_of_vote }}
            </td>
        </tr>
        <tr>
            <th>Ingediend door</th>
            <td>
                {% for submitted_by in vote.submitted_by.all %}
                    {{ submitted_by.name }}<br/>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td></td>
        </tr>

        <tr>
            <th>
                Proceeding aangenomen?
            </th>
            <td>
                {{ vote.passed }}
            </td>
        </tr>
        <tr>
            <th>
                Partijen voor
            </th>
            <td>
                {% for partyvote in vote.partyvote_set.all %}
                    {% if partyvote.vote_result %}
                        {{ partyvote.party }}<br/>
                    {% endif %}
                {% endfor %}
            </td>

        </tr>
        <tr>
            <th>
                Partijen tegen
            </th>
            <td>
                {% for partyvote in vote.partyvote_set.all %}
                    {% if not partyvote.vote_result %}
                        {{ partyvote.party }}<br/>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>

    </table>
{% endblock %}