{% load url from future %}

<table border="1">
    <tr>
        <th>Afb</th>
        <td>
            <img src="{{ politician.image }}" alt="" width="200"/>
        </td>
    </tr>
    <tr>
        <th>Naam</th>
        <td>
            {{ politician.name }}
        </td>
    </tr>
    <tr>
        <th>Partij</th>
        <td>
            {{ politician.party|default:"" }}
        </td>
    </tr>
    <tr>
        <th>Bron</th>
        <td>
            <a href="{{ politician.pm_source }}?view=html" rel="external">{{ politician.pm_source }}</a>
        </td>
    </tr>
    <tr>
        <th>Aantal amendementen ingediend</th>
        <td>
            {{ politician.submit_count.amendementen }}
        </td>
    </tr>
    <tr>
        <th>Aantal moties ingediend</th>
        <td>
            {{ politician.submit_count.moties }}
        </td>
    </tr>
    <tr>
        <th>Aantal geslaagd</th>
        <td>
            {{ politician.submit_score.passed }}
        </td>
    </tr>
    <tr>
        <th>Aantal gefaald</th>
        <td>
            {{ politician.submit_score.failed }}
        </td>
    </tr>
    <tr>
        <th>Percentage</th>
        <td>
            {{ politician.submit_score.percent }}%
        </td>
    </tr>
</table>


<a href="/politician/#/{{ identifiers.0 }}/{{ identifiers.1 }}/{{ identifiers.2 }}" target="_blank">Meer informatie en grafieken</a>